.div_grid_svyaz { 
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    width: 60%;
    height: auto;
 }
 .div_grid_1_txt {justify-content: center; align-items: center;}
 .error-message {font-size: 10px; }
 /* .div_grid_1_txt p { } */
 button[type="submit"] {margin-top: 20px; width: 40%; margin-bottom: 70px;}
 .form_1 [type="text"],[type="tel"] {height: 60px; }
 .div_grid_svyaz .Usltxt {color: black; font-size: 20px;text-align: left; width: 500px;}
 #h1Itap {color: white; font-size: 40px;font-weight: 500;font-family: "Montserrat", sans-serif; }
 @media(max-width:1200px){
    .div_grid_svyaz {display:flow-root ;}
    .div_grid_svyaz .Usltxt {font-size: 20px;line-height: 1.4; text-align: left;width: auto;height: fit-content; }
    
 }
 .footer_div {background-color: rgb(255, 255, 255) ;display: grid;grid-template-columns: 25% 25% 25% 25%;width: 70%; margin: 0 auto;  }
        .dda {margin-top: 10px; height: auto;display: grid; justify-content: center; align-items: center; }
        
        .footer_div h2 {
            font-family: "Montserrat", sans-serif; 
            font-weight: 500; color: rgb(67, 61, 61);
            font-size: 20px; width: auto;
        }
        .footer_div a {
            cursor: pointer;
            
        }
        .footer_div a:hover{
            color: blue; font-weight: 600; 
        }

        .halfunder {margin: 0 auto; width: 50%; background-color: rgb(89, 84, 84); height: 1px;}
        
        .marg12 {margin-top: 50px; }
        .footer_div p, .footer_div a {height: auto;width:auto ; ;font-family: "Montserrat", sans-serif; font-size: 15px;text-align: left;  }

        @media (max-width:1200px) {
         .footer_div { display: flex;flex-wrap: wrap;width: 100%; }   
         .marg12{ flex:1 1 50%;} 
         .footer_div p, .footer_div a {height: auto; font-size: 10px;}
         .dda{ justify-content:left; align-items: center;}
        }