// sass --watch scss/main.scss:css/main.css
$gradcolor:90deg, rgba(138,95,46,0.9) 0%, rgba(101,79,54,0.9) 31%, rgba(56,51,41,0.9) 73%, rgba(6,5,3,0.9) 98%  ;


@mixin grad_all($anim_s, $color1, $color2, $color3, $color4 ) {  
    background: rgb(138,95,46);
    background: linear-gradient(90deg,
    ($color1) 0%,
    ($color2) 31%,
    ($color3) 73%,
    ($color4) 98%);    
    background-size: 400% 400%; /* Увеличение размера градиента для плавной анимации */
    animation: grad_all-animation $anim_s ease infinite; /* Анимация длительностью 10 секунд */
    opacity: 1;     
}
@mixin grad2($anim_ss, $color11, $color22, $color33, $color44) {
    background: linear-gradient(90deg,
    ($color11) 0%,
    ($color22) 31%,
    ($color33) 73%,
    ($color44) 98%);    
    background-size: 300% 300%; /* Увеличение размера градиента для плавной анимации */
    animation: grad22 $anim_ss ease infinite; /* Анимация длительностью 10 секунд */
    transition: background 1.5s ease;
    width: 50%;  
    -webkit-background-clip: text;-webkit-text-fill-color: transparent;
    opacity: 1;
}


.gradient_all {
    @include grad_all(10s, #ea1616, #834f42, #897e7b, #46190e );
}
.grad_but_hov{
  @include grad2(15s, #ea1616, #834f42, #897e7b, #46190e);

&:hover {
  
  
} }
@keyframes grad_all-animation  {
    0% {
      background-position: 0% 50%; /* Начальная позиция */
    }
    50% {
      background-position: 100% 50%; /* В середине */
    }
    100% {
      background-position: 0% 50%; /* Возврат к началу */
    }
}
@keyframes grad22  {
  0% {
    background-position: 0% 50%; /* Начальная позиция */
  }
  50% {
    background-position: 100% 50%; /* В середине */
  }
  100% {
    background-position: 0% 50%; /* Возврат к началу */
  }
}


@mixin modalokno(){
  display: none; position: fixed;z-index: 220;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5); 
}
@mixin modalinside(){
  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-color: rgba(255, 255, 255, 0.145);padding: 20px;border-radius: 10px;width: 1000px;
}
@mixin modalgallery(){
  display: flex; width: 300px;height: 300px;overflow: hidden; justify-content: center; margin: 0 auto; 
}


@mixin img_cont_1(){
  display: flex;align-items: center; justify-content: center;flex-wrap: wrap; 
}
@mixin a_sett() {
  width: 450px; height:300px;display: flex;;cursor: pointer;flex:1 1 30%;position: relative;justify-content: center;margin: 0 auto;
  overflow: hidden; 
}
@mixin img1setting(){
  width: 100%;height: 300px;object-fit: cover;filter: brightness(64%); 
}
@mixin txtsetting1($backgrcolor,$bottompx, $widthpx){
  z-index: 2;text-align: center ; position: absolute; justify-content: center; margin: 0 auto; bottom: $bottompx;align-items: center;
  font-family: 'Arial', sans-serif; font-size: 18px; color: white; background-color: $backgrcolor; width: $widthpx;height: 35px;
  border-radius: 5px; 
}
@mixin txtfont(){font-size: 35px;font-weight: bold;pointer-events: none; }
@mixin hover_img1(){
  transform: scale(1.05)
}
@mixin flexoff1(){
  display:list-item; width: 100%;
}
@mixin flexbaza(){
 display: flex;
}

.d_kond{
  @include img_cont_1();width: 100%; height: auto;

 a {@include a_sett()  };
 p{@include txtsetting1(none,120px,auto); @include txtfont }; 
 img {@include img1setting() };
 img:hover {@include hover_img1() };
 button {@include txtsetting1(#867249,50px,120px) };
 button::before {content:'Подробнее' ;}
}
@media (max-width:1200px){.d_kond{
  @include flexoff1();
 a {width: 100%;}
 } }
 .d_kond2{
  @include img_cont_1();width: 100%; height: auto;

 a {@include a_sett(); height: 350px  };
 p{@include txtsetting1(none,150px,auto); @include txtfont }; 
 img {@include img1setting(); height: 350px };
 img:hover {@include hover_img1() };
 button {@include txtsetting1(#867249,50px,120px) };
 button::before {content:'Подробнее' ;}
}
@media (max-width:1200px){.d_kond2{
  @include flexoff1();
 a {width: 100%;}
 } }

.d_kond3{
  @extend .d_kond2;
  a {@include a_sett(); height: 300px  };
  img {@include img1setting(); height: 100% };
  p{@include txtsetting1(none,50%,auto); @include txtfont };
}
@media(max-width:1200px) {.d_kond3{
  @include flexoff1();
 a {width: 100%;height: 250px;}
}
}


@mixin konttext_1(){
  display:flexbox ; width: 100%; text-align: center; align-items: center; justify-content: center;
}
@mixin h1_1() {
  color: white;font-family: 'Arial', sans-serif; font-size: 43px; margin: 0 auto; justify-content: center; width: 100%;font-weight: 600;
}

.divtext {
  @include konttext_1()
}





.h1baza {
  @include h1_1()
}

@mixin textbaza(){
  font-family: "Arial", sans-serif; font-weight: 500;font-size: 15px;
}
.backg{
  @include textbaza();
  @include grad_all(20s,rgb(74, 60, 60) ,rgb(61, 27, 27) ,rgb(106, 65, 14) ,black )
}

.del1{
  @include grad_all(20s,rgb(74, 60, 60) ,rgb(61, 27, 27) ,rgb(106, 65, 14) ,black )
}


// ---------------------------------krasivaya nadpic 

@mixin p_nadpic(){
  position: absolute;
    font-weight: bold; font-family: "Arial", sans-serif; font-size:30px; color: white;
    pointer-events: none;
    background-color: rgb(147, 119, 54);width:calc(auto + 50px) ;
    justify-content: center;align-items: center; display: flex;text-align: center;
    height: auto; width: auto; 
}